*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared styles */
body {
  font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}
.text-green{
    color: #469064;
}

.container-width{
    margin: 0 auto;
    width: 85%;
    max-width: 1360px;
}

.title_h1{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.manu-btn-hvr{
    transition: all 0.3s ease;
}
.manu-btn-hvr:hover{
    color: #093a64;
    cursor: pointer;
    font-size: 26px;
}

.btn-hvr-effect{
    transition: all 0.3s ease;
}
.btn-hvr-effect:hover{
    background-color: rgb(22, 116, 133);
    cursor: pointer;
    color: white;
}

.early-access-btn{
    background-color: #469064; 
    font-size: 19px;
    color: #FFFFFF;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
}

/* main style */

.early-open-btn{
    padding: 8px 12px;
    font-size: 19px;
    border-radius: 1000px;
    background-color: #FFFFFF;
    font-weight: 500;
    border: none;
}


#nav-container{
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-logo img{
    width: 139px;
}

.manu{
    display: flex;
    align-items: center;
}
.manu ul{
    list-style-type: none;
    font-size: 24px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.banner{
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 674px;
    background-size: cover;
}
.banner-content{
    padding-top: 115px;
    margin: 0 auto;
    text-align: center;
}

.banner-text{
    margin: 16px auto 0;
}
.banner-text h1{
    font-size: 72px;
}
.banner-text .title-white{
    color: #FFFFFF;
}
.banner-text .title-green{
    color: #30B868;
}
.details-text{
    text-align: center;
    margin-top: 16px;
}
.banner-text p{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px; 
}

.btn-bottm{
    margin-top: 32px;
    margin-bottom: 179px;
}
.btn-bottm button{
    padding: 16px 20px;
    font-size: 19px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
}
.btn-bottm-left{
    background-color: #30B868;
    margin-right: 15px;
}


.btn-bottm-right{
    background: none;
    border: 1px solid white;
}

.advie-container{
    align-items: center;
}
.advice-title{
    margin: 0 auto;
    padding: 50px 0 44px;
    text-align: center;
}


.cards-box{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.card{
    text-align: center;
    padding: 69.5px 24px 21px;
    box-shadow: 0px -5px 2px -5px rgba(0, 0, 0, 0.302),
        -5px 0px 2px -5px rgba(66, 1, 1, 0.302),
        5px 0px 2px -5px rgba(0, 0, 0, 0.302); 
}
.card-logo{
    padding:15px;
    max-width: 60px;
    background-color: #F95555;
    border-radius: 50%;
    margin: 16px auto;
}
.card h3{
    font-size: 24px;
    margin-bottom: 16px;
    color: #001931;
}
.card p{
    color: #627382;
}

.knowledge-container{
    margin: 120px auto;
    display: flex;
    gap: 60px;

}
.knowledge-image{
    width: 56%;
    max-width: 600px;
}
.knowledge-text{
    padding: 120px 0;
    width: 40%;
}


.knowledge-article{
    text-align: justify;
    padding-right: 40px;
    margin-bottom: 16px;
    color: #627382;

}
.knowledge-text ul{
    list-style-type: none;
    color:#001931;
}

.knowledge-text ul li{
    margin:16px 0;
}

#early-container{
    padding: 80px 0;
    margin: 0 auto 120px;
    background-color: #F7F6F2;
    text-align: center;
}

#early-container p{
    margin-bottom: 16px;
    color: #627382;
}
.early-last-txt{
    margin-top: 16px;
}
.footer{
    background-color: #001931;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 120px 0;
}
.social-links p{
    color: white;
    font-size: 20px;
    margin-bottom: 16px;
}
.social-links i{
    color: white;
}
.copywrite{
    padding: 30px 0;
    color: white;
    text-align: center;
}